
<% if current_usuario.endereco == nil%>
  <h1>Você deve inserir um endereco para continuar</h1>
<%else%>
  <h1>Adicionar Endereço</h1>
<%end%>

<%= form_for @endereco do |form|%>
    
  <div class="field">
    <%= form.label :cep %>
    <%= form.text_field :cep %>
  </div>

  <div class="field">
    <%= form.label :cidade %>
    <%= form.text_field :cidade %>
  </div>

  <div class="field">
    <%= form.label :bairro %>
    <%= form.text_field :bairro %>
  </div>

  <div class="field">
    <%= form.label :logradouro %>
    <%= form.text_field :logradouro %>
  </div>

  <div class="field">
    <%= form.label :complemento %>
    <%= form.text_field :complemento %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
