<%= form_with(model: vacina) do |form| %>
  <% if vacina.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vacina.errors.count, "error") %> prohibited this vacina from being saved:</h2>

      <ul>
        <% vacina.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :descricao %>
    <%= form.text_area :descricao %>
  </div>

  <div class="field">
    <%= form.label :data %>
    <%= form.date_select(:data ,:start_year => 2021, :end_year => 2030) %>
  </div>

  <div class="field">
    <%= form.label :horario %>
    <%= form.time_select :horario %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
