<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @vacina.nome %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @vacina.descricao %>
</p>

<p>
  <strong>Data:</strong>
  <%= @vacina.data %>
</p>

<p>
  <strong>Horario:</strong>
  <%= @vacina.horario %>
</p>

<%= link_to 'Edit', edit_vacina_path(@vacina) %> |
<%= link_to 'Back', vacinas_path %>
