<%= form_with(model: usuario) do |form| %>
  <% if usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>

      <ul>
        <% usuario.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome_completo %>
    <%= form.text_field :nome_completo %>
  </div>

  <div class="field">
    <%= form.label :data_nascimento %>
    <%= form.text_field :data_nascimento %>
  </div>

  <div class="field">
    <%= form.label :telefone %>
    <%= form.text_field :telefone %>
  </div>

  <div class="field">
    <%= form.label :cpf %>
    <%= form.text_field :cpf %>
  </div>

  <div class="field">
    <%= form.label :nome_completo_mae %>
    <%= form.text_field :nome_completo_mae %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.text_field :password%>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <%= form.fields_for :endereco do |e| %>
    <div class="field">
      <%= e.label :cep %>
      <%= e.text_field :cep %>
    </div>

    <div class="field">
      <%= e.label :cidade %>
      <%= e.text_field :cidade %>
    </div>

    <div class="field">
      <%= e.label :bairro %>
      <%= e.text_field :bairro %>
    </div>

    <div class="field">
      <%= e.label :lougradouro %>
      <%= e.text_field :logradouro %>
    </div>

    <div class="field">
      <%= e.label :complemento %>
      <%= e.text_field :complemento %>
    </div>

  <% end %>
  
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
