<p id="notice"><%= notice %></p>

<h1>Usuarios</h1>

<table>
  <thead>
    <tr>
      <th>Nome completo</th>
      <th>Data nascimento</th>
      <th>Telefone</th>
      <th>Cpf</th>
      <th>Nome completo mae</th>
      <th>Password digest</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @usuarios.each do |usuario| %>
      <tr>
        <td><%= usuario.nome_completo %></td>
        <td><%= usuario.data_nascimento %></td>
        <td><%= usuario.telefone %></td>
        <td><%= usuario.cpf %></td>
        <td><%= usuario.nome_completo_mae %></td>
        <td><%= usuario.password_digest %></td>
        <td><%= usuario.email %></td>
        <td><%= link_to 'Show', usuario %></td>
        <td><%= link_to 'Edit', edit_usuario_path(usuario) %></td>
        <td><%= link_to 'Destroy', usuario, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Usuario', new_usuario_path %>
